# Dart / Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
.vscode/
*.iml
.DS_Store

# Platform build output
android/.gradle/
android/app/debug
android/app/profile
android/app/release
ios/Pods/
ios/.symlinks/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
web/.dart_tool/
